In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_excel('D:/datamining/dataset_soal No. 4.xls')

In [3]:
data.head()

,Usia,Kelahiran_ke,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1

In [4]:
data.tail()

,Usia,Kelahiran_ke,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian
75,27,2,1,1,0,0
76,33,4,0,1,0,1
77,29,2,1,2,0,1
78,25,1,2,0,0,1
79,24,2,2,1,0,0

In [5]:
df = pd.DataFrame(data)
df.columns = ['Kelahira_Ke','Usia','Caesarian']
df

ValueError: Length mismatch: Expected axis has 6 elements, new values have 3 elements

In [7]:
for i in range (7):
    if (df.ix[i]['Kelahira_Ke'] == 'Usia'):
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=100, c='r')
        elif(df.ix[i]['Usia'] == 'Caesarian'):
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=100, c='r')
        else:
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=200, c='b')
        
plt.grid()
plt.show()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [8]:
import math
dis = []
for i in range(7):
    dis.append(math.sqrt((float(df.iloc[i]['Caesarian'])- query[0]) **2
    + (float(df.iloc[i]['Usia']) - query[1]) **2 ))

NameError: name 'query' is not defined

In [9]:
df['dis'] = dis
df

ValueError: Length of values (0) does not match length of index (80)